{% extends "base.html" %}

    {% block content %}
        <div class="card mt-4">
    <div class="card-header">
        <h4>Account Details</h4>
    </div>
    <div class="card-body">
        {% if user %}
            <!-- Show user details if logged in -->
            <p><strong>Account No:</strong> {{ user.id }}</p>
            <p><strong>First Name:</strong> {{ user.firstname }}</p>
            <p><strong>Last Name:</strong> {{ user.lastname }}</p>
            <p><strong>Phone No:</strong> {{ user.phone }}</p>
            <p><strong>Posts:</strong></p>
             {% if user.posts %}
                    {% for post in user.posts %}
                    <div class="card border border-dark">
                        <div class="card-header bg-dark text-white border border-dark">
                            <h4>{{ post.title }}</h4>
                            <small>{{ post.created.strftime('%H:%M:%S %d-%m-%Y') }}</small>
                        </div>
                        <div class="card-body">{{ post.body }}</div>

                        <div class="card-footer">
                            <a class="navbar-item" href="{{ url_for('posts.update', id=post.id) }}">Update</a>
                            <a class="navbar-item" href="{{ url_for('posts.delete', id=post.id) }}">Delete</a>
                        </div>

                    </div>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-muted">No posts yet.</p>
            {% endif %}
        {% else %}
            <!-- Show empty fields if not logged in -->
            <p><strong>Account No:</strong> </p>
            <p><strong>Email:</strong> </p>
            <p><strong>First Name:</strong> </p>
            <p><strong>Last Name:</strong> </p>
            <p><strong>Phone No:</strong> </p>
            <p><strong>Posts:</strong> </p>
        {% endif %}
    </div>
</div>

    {% endblock content %}
